# Ignore node_modules
node_modules/

# Ignore OS files
.DS_Store
Thumbs.db
desktop.ini

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore logs
*.log

# Ignore Firebase keys (if needed)
firebase-config.js
